* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans;
  background-color: #f6f7f9;
}

.nav {
  width: 100%;
  height: 124px;
  padding: 10px 10px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #c3d4e966;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#logo {
  color: #3563e9;
  width: 148px;
  height: 44px;
  padding: 0 0 0 3rem;
  top: 40px;
  left: 60px;
  gap: 0px;
  opacity: 0px;
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.nav-icons {
  width: 236px px;
  height: 44px px;
  top: 40px;
  left: 1172px;
  gap: 20px;
  opacity: 0px;
  display: flex;
  margin-left: 40px;
  padding: 0 3rem;
}

#search {
  width: 24px;
  height: 24px;
  top: 50px;
  left: 292px;
  gap: 0px;
  opacity: 0px;
  border: none;
  background-color: white;
  justify-self: flex-start;
  cursor: pointer;
}

.search-bar {
  width: 492px;
  height: 44px;
  top: 40px;
  left: 272px;
  gap: 0px;
  padding: 6px;
  border: 1px solid #c3d4e966;
  opacity: 0px;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter,
input {
  border: none;
  background-color: white;
  cursor: pointer;
}

.search-bar input {
  width: 80%;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 360px;
  top: 32px;
  left: 64px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}

.cards {
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  position: relative;
}

.card1 {
  background-color: #54a6ff;
}

.card2 {
  background-color: #3563e9;
}

.car-img {
  width: 406px;
  height: 116px;
  margin: auto;
}
.img-container {
  display: flex;
}
.rentcar-btn {
  width: 120px;
  height: 44px;
  padding: 0px 20px 0px 20px;
  gap: 8px;
  border-radius: 5px;
  opacity: 0px;
  margin-top: 30px;
  border: none;
  font-size: 16px;
}

.one {
  background-color: #3563e9;
}

.two {
  background-color: #54a6ff;
}

h2 {
  font-size: 25px;
  width: 272px;
  height: 96px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 0;
  color: white;
}

.hero-section p {
  font-size: 16px;
  width: 284px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  margin-top: 0;
  color: white;
}

.form-section {
  margin: 3rem 4.5rem;
  display: flex;
}

.form-container {
  width: 800px;
  height: 132px;
  font-size: 16px;
  font-weight: 600;
  top: 424px;
  left: 64px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #c3d4e966;
}

.swap-btn {
  width: 60px;
  height: 50px;
  padding: 2rem 2rem;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  margin: 30px 200px;
  border: none;
  background-color: #3563e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  top: 60px;
  left: 48px;
  gap: 24px;
  opacity: 0px;
  font-weight: 600;
}

.select-option {
  margin: 10px auto;
}

.options {
  background-color: #fff;
  color: black;
  opacity: 0.6;
  border: none;
}

.sub-heading {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4rem;
  opacity: 0.6;
  font-weight: 500;
}

.sub-heading a {
  text-decoration: none;
  color: #3563e9;
}

.models {
  width: 374px;
  height: 418px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  padding: 2rem 1rem;
  border: 0.2px solid #c3d4e966;
  box-shadow: 0 4px 6px rgba(114, 113, 113, 0.1);
}

.model-header {
  display: flex;
  justify-content: space-between;
}

.models > p {
  opacity: 0.5;
  font-size: 16px;
}

.models > img {
  width: 250px;
  height: 80px;
  top: 136px;
  left: 36px;
  margin: 3rem 2rem;
}

.models-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: Hug (256px) px;
  height: Hug (24px) px;
  margin: 1rem 0;
  top: 272px;
  left: 24px;
  gap: 16px;
}

.models-option {
  display: flex;
  align-items: center;
  color: #90a3bf;
  padding-right: 1.5rem;
}

#petrol {
  width: 24px;
  height: 24px;
}

.rent-cars {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4rem;
  width: Hug (1, 312px) px;
  height: Hug (388px) px;
  gap: 32px;
  opacity: 0px;
}

.model-price button {
  margin-top: 0;
  width: 157px;
  height: 52px;
  font-size: 20px;
  background-color: #3563e9;
  color: #ffffff;
}

.model-price h5 {
  font-size: 26px;
  margin-left: 0.5rem;
}

.model-price small {
  opacity: 0.6;
  font-size: 16px;
}

.model-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
  /* padding: 1rem 1rem; */
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.more-btn {
  margin-top: 0;
  width: 200px;
  height: 52px;
  font-size: 20px;
  background-color: #3563e9;
  color: #ffffff;
}

footer {
  width: 100%;
  height: 480px;
  top: 2244px;
  background-color: #ffffff;
  padding: 2rem 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4rem;
}

.part1 div {
  color: #3563e9;
  width: 148px;
  height: 44px;
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 1rem;
}

.part1 {
  width: 292px;
  height: 108px;
  top: 80px;
  left: 60px;
  gap: 16px;
}

.part1 p {
  opacity: 0.6;
  font-family: Plus Jakarta Sans;
  width: 350px;
}

.rights {
  margin: 0 4rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 550;
  font-family: Plus Jakarta Sans;
  border-top: 2px solid #c3d4e966;
}

.terms {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.part2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  line-height: 1.5rem;
}

.part2 h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.part2 li {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  line-height: 3rem;
  opacity: 0.6;
  font-family: Plus Jakarta Sans;
}
